/*GENERAL STYLES*/
@font-face {
  font-family: 'Swag';
  src: url('/fonts/KGALittleSwag.ttf');
}
body {
   font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 0.85em;
}

.post_form {
  padding-top: 3.5em;
}

/*HEADER STYLES*/
.container #header h1 {
  font-family: 'Swag';
  color: #FF5831;
  font-size: 10em;
  line-height: 1.5em;
  text-align: center;
}

/*FORM STYLES*/
.newlisting {
  width: 90%;
}

/*GENERAL LISTING STYLES*/
.featured_listing, .listing {
  margin-bottom: 2em;
  padding: 0.5em;
}
.upvote, .downvote {
  padding: 1.5em;
}

.subtitle {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

td {
  padding: 1em;
}

/*FEATURED LISTING STYLES*/
.featured_listing .votecounter {
  background-color: #AFB9C1;
  float:right;
  border-top-left-radius:0.50em;
  border-top-right-radius:0.50em;
  padding: 0em 0.75em;
  font-size: 2em;
  line-height: 1.5em;
  color: #FFFFFF;
}
.featured_listing .innerlisting {
  clear: both;
  background-color: #AFB9C1;
  margin-right: 0px !important;
  border-top-left-radius:0.75em;
  border-bottom-right-radius:0.75em;
  border-bottom-left-radius:0.75em;
}

.featured_listing .votes{
  float: left;
  margin-right: 2em;
  padding-left: 2em;
}

.featured_listing .listingcontents {
  margin-right: 0px !important;
  padding: 1em;
}

.featured_listing h3 {
  color: #233F55;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #FFFFFF;
}

/*REGULAR LISTING STYLES*/
.listing, .listing {
  margin-bottom: 2em;
  padding: 0.5em;
}
.listing .votecounter {
  background-color: #FFB09D;
  float:right;
  border-top-left-radius:0.50em;
  border-top-right-radius:0.50em;
  padding: 0em 0.75em;
  font-size: 2em;
  line-height: 1.5em;
  color: #FFFFFF;
}
.listing .innerlisting {
  clear: both;
  background-color: #FFB09D;
  margin-right: 0px !important;
  border-top-left-radius:0.75em;
  border-bottom-right-radius:0.75em;
  border-bottom-left-radius:0.75em;
}

.listing .votes{
  float: left;
  margin-right: 2em;
  padding-left: 2em;
}

.listing .listingcontents {
  margin-right: 0px !important;
  padding: 1em;
}
.listing h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  color: #A63419;
  text-shadow: 1px 1px #FFFFFF;
}

/*FOOTER STYLES*/
footer {
  background-color: #233F55;
  color: #FFFFFF;
  text-align: center;
  padding: 1.5em;
  margin-top: 2em;
  font-size: 1.5em;
}