@font-face {
  font-family: 'Swag';
  src: url('/fonts/KGALittleSwag.ttf');
}
.container #header h1 {
  font-family: 'Swag';
  color: #FF5831;
  font-size: 10em;
  line-height: 1.5em;
  text-align: center;
}

.listing .votecounter {
  background-color: #AFB9C1;
  float:right;
  border-top-left-radius:2em;
  border-top-right-radius:2em;
  padding: 0em 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
}

.innerlisting {
  clear: both;
  background-color: #AFB9C1;
  margin-right: 0px !important;

}

.upvote {
  display: block;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 2em solid #FFFFFF;
  padding-top: 1em;
  margin: 1em;
}

.downvote {
  display: block;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 2em solid #FFFFFF;
  margin: 1em;
  padding-bottom: 1em;
}

.listingcontents {
  margin-right: 0px !important;
}
h3 {
  color: #233F55;
}
