<div id="header" class="sixteen columns">
  <h1 class="sixteen columns">(BlanketFort)</h1>
  <!--<h5>Your source for communal house hunting.</h5>-->
</div>

<div class="newlisting eight columns offset-by-four">
  <form id="new" action="/" method="post">
      <input type="text" name="title" size="10" value="title" placeholder="title here!">
      <input type="text" name="link" size="10" value="link" placeholder="link here!">
      <input type="text" name="rooms" size="10" value="rooms" placeholder="rooms here!">
      <input type="text" name="location" size="10" value="location" placeholder="location here!">
      <p><input class="sub_button" type="submit" value="Submit!"></p>
  </form>
</div>

<div class="listing eight columns offset-by-four">
  <div class="votecounter">
    49
  </div>
  <div class="votes">
    <div class="upvote"></a>
    <div class="downvote"></div>
  </div>
  <div class="listingcontents">
    <h3>Title</h3>
    <table>
      <tr><td>Rooms:</td><td>4</td></tr>
      <tr><td>Location:</td><td>San Francisco</td></tr>
      <tr><td>Link:</td><td><a href="http://whatever.com">http://whatever.com</a></td></tr>
    </table>
  </div>

</div>