<div class="newlisting eight columns offset-by-four">
  <form id="new" action="/" method="post">
      <input type="text" name="title" value="title" placeholder="title here!">
      <input type="text" name="link" value="link" placeholder="link here!">
      <input type="text" name="rooms" value="rooms" placeholder="rooms here!">
      <input type="text" name="location" size="10" value="location" placeholder="location here!">
      <input type="submit" value="Submit!">
  </form>
</div>