<div class="newlisting">
  <form class="link_input" action="/listings" method="post">
      <input type="text" name="title" placeholder="title here!">
      <input type="text" name="url" placeholder="url here!">
      <input type="text" name="bedrooms" placeholder="bedrooms here!">
      <input type="text" name="bathrooms" placeholder="bathrooms here!">
      <input type="text" name="location" placeholder="location here!">
      <input type="submit" value="Post Listing">
  </form>
</div>