
<form class="link_input" action="/listings" method="post">
	<ul>
		<li>Title: <input type="text" name="title"></li>
		<li>Link URL: <input type="text" name="url"></li>
		<li>Location: <input type="text" name="location"></li>
		<li>Beds:<input type="text" name="bedrooms"></li>
		<li>Baths:<input type="text" name="bathrooms"></li>
		<li><input type="submit" value="Post Listing"></li>
	</ul>
</form>

