<div class="listing eight columns offset-by-four">
  <div class="votecounter">
    49
  </div>
  <div class="innerlisting">
    <div class="votes">
      <div class="upvote"></div>
      <div class="downvote"></div>
    </div>

    <div class="listingcontents">
      <h3>Title</h3>
      <table>
        <tr><td>Rooms:</td><td>4</td></tr>
        <tr><td>Location:</td><td>San Francisco</td></tr>
        <tr><td>Link:</td><td><a href="http://whatever.com">http://whatever.com</a></td></tr>
      </table>
    </div>
</div>